.typewriter {
	font-size: 30px;
	line-height: 28px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

@media only screen and (max-width: 1000px) {
	.typewriter {
		font-size: 20px;
	}
}
